.activities-section {
  padding: 0 30px;
  max-width: 1000px;
  margin: 20px auto;
  font-family: 'Manjari';
  font-size: 13px;
  letter-spacing: 1px;
  color: #a490aa;
  scroll-margin-top: 120px;
  padding-bottom: 100px;
}

.activities-title {
  font-family: 'Cal Sans';
  font-weight: 500;
  font-size: 25px;
  color: #f5dfff;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

.activity-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@keyframes fadeInSlideLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.activity-card {
  display: flex;
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;  
  margin-top: 15px;
  gap: 30px;
  opacity: 0;
  animation: fadeInSlideLeft 0.5s ease forwards;

}

.activity-content {
  flex: 1;
}

.activity-image img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  border: 0.5px solid #a490aa;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-image img:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(245, 223, 255, 0.2);
}

.activity-title {
  font-size: 16px;
  color: #f5dfff;
  margin: 0 0 8px;
}

.activity-org {
  font-size: 14px;
  color: #f5dfff;
  margin: 0 0 15px;
}

.activity-desc {
  font-size: 13px;
  line-height: 1.5;
  margin: 0 80px 15px 0;
}

.activity-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.activity-tag {
  background-color: transparent;
  border: 1px solid #a490aa;
  color: #a490aa;
  font-size: 11px;
  padding: 8px 10px 5px 11px;
  border-radius: 15px;
  letter-spacing: 1px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 16, 20, 0.822);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
}