html {
  scroll-behavior: smooth;
}

body {
  margin: 30px;
  font-family: 'Cal Sans', 'Manjari';
  color: #f5dfff;
  background: #150a1b;
}

.app-container {
  display: flex;
  align-items: flex-start;
}

.content {
  width: 70%;
  padding-top: 0; 
  margin-left: 37%;
}

.section {
  min-height: max-content;
  padding: 60px 40px;
  scroll-margin-top: 50px;
}